body {
    color:#ebdbb2;
    background:#282828;
    margin: auto;
    font-family:Hack;
    max-width: 600px;
    overflow-x:hidden;
    
}

.pbetter {
    font-size:14px;
    text-align: center;
}

.h2better {
    color:#b8bb26;
    text-align: center;
}

.img-with-text img {
    height: 256px;
    width: 256px;
    float: right;
    max-width: 300px;
    box-shadow:0px 0px 7px #000000;
}

.image {
    border: 1px solid #ebdbb2;
}

.flex-container {
    display: flex;
    gap: 0px 10px;
}

.flex-container .flex-item {
    background:#1d2021;
	  padding: 10px;
    width: 170px;
    border-radius: 7px;
    display: inline-block;
}

.flex-container-bababooey .flex-item-bababooey {
    background:#1d2021;
	  padding: 10px;
    width: 570px;
    border-radius: 7px;
    display: inline-block;
    margin-top: 10px;
}

.flex-container .flex-item ul {
    margin: 0;
	list-style: none;
	padding: 0;
}

li {
    font-size:12px;
    margin: 8px 0;
}

.homepagelist {
    margin: 0px 0;
}

.invert{
    -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
    filter: invert(100%);
}

.warning {
    color: #fb4934;
    font-size:12px;
    text-align: center;
}

a {
    color: #83a598;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.crypto {
    font-size:11px;
}
