body {
    color:#f8f8f2;
    background:#272822;
    margin: auto;
}

h1 {
    font-size:32px;
}

.pbetter {
    font-family:monospace;
    font-size:16px;
}

.h1better {
    font-family:monospace;
    color:#a6e22e;
}

.resright {
	float: right;
	max-width: 300px;
    box-shadow:0px 0px 15px #000000;
}

body {
    max-width: 850px;
}

.pfp { 
    text-align: justify; 
    width: 256; 
} 
 
.pfp img { 
    display: block; 
    margin: 0 auto; 
} 